@import 'color-palette';

$font-size: 0.875rem;

@mixin textGlobalStyle() {
    font-size: $font-size;
    color: palette(blacktextnormal, 100);
}
@mixin linkGlobalStyle() {
    color: palette(clink, 100);
    &:hover {
        color: palette(clinkhover, 100);
    }
}
@mixin h2GlobalStyle {
    font-weight: 600;
    font-size: 1.25rem;
}
