@import 'src/styles/color-palette';
@import 'src/styles/mixins';

.bsm-list-box-wrapper {
    .zebra-list .p-listbox-item {
        background-color: palette(white, 100); /* Set the background color for even-numbered items */
    }

    .zebra-list .p-listbox-item:nth-child(odd) {
        background-color: palette(cbackground, 100); /* Set the background color for odd-numbered items */
    }

    .p-listbox .p-listbox-list {
        padding: 0;
    }
    .p-listbox.p-component {
        background: inherit;
        border: none;
    }

    .p-listbox .p-listbox-list .p-listbox-item {
        @include textGlobalStyle();

        margin: 0;
        padding: 0.25rem 0.25rem;
        border: 0 none;
        transition: box-shadow 0.2s;
        border-radius: 0;
        line-height: normal;
    }

    .p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled) {
        @include linkGlobalStyle();
        &:hover {
            background-color: palette(cbackgroundhover, 100);
        }

        &:focus {
            background-color: palette(black, 8) !important;
            box-shadow: none;
        }
    }
}
