@import '~@portal/portal-components/styles/color-palette';

.y-axis-scroller-wrapper {
    &:hover {
        *::-webkit-scrollbar {
            width: 0.25em;
            height: 0.25em;
        }

        *::-webkit-scrollbar-track {
            background: palette(black, 10);
        }

        *::-webkit-scrollbar-thumb {
            background-color: palette(black, 20);
        }
    }
}
