@import 'src/styles/color-palette';

.y-axis-scroller-wrapper {
    // this is an illusion that can hide or show a scrollbar
    ::-webkit-scrollbar-thumb {
        background: inherit;
        border: none;
    }
    // by activating this code scrollbar is visible when mouse hover over html element

    // ::-webkit-scrollbar-track {
    //     border-radius: 0px;
    //     background: inherit;
    // }

    &:hover {
        *::-webkit-scrollbar {
            width: 0.25em;
            height: 0.25em;
        }

        *::-webkit-scrollbar-track {
            background: palette(black, 10);
        }

        *::-webkit-scrollbar-thumb {
            background-color: palette(black, 20);
        }
    }
}
